PORT=3000

# Base de datos SQL Server
DB_SERVER=tiusr16pl.cuc-carrera-ti.ac.cr
DB_USER=admin_relampago
DB_PASSWORD=tu_contrasena
DB_NAME=proyecto_relampago
DB_PORT=1433
DB_ENCRYPT=true
DB_TRUST_CERT=true

# Configuracion de correo (Gmail)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_contrasena_de_aplicacion
MAIL_FROM=Sistema Matricula <tu_correo@gmail.com>
